// Variáveis de fontes ultilizadas no Projeto
$font-global: "Poppins", sans-serif;
$font-logo: "Allison", cursive;
$font-tittles: "Roboto", sans-serif;

// Variaveis de Paletas de cores

$primary-color: #fff;
$fill-color: #444860;
$secondary-color: #111;
$effect-color: #d10b1b;
$effect-color2: #747687;
